* {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: rgb(229, 74, 113);
  background: linear-gradient(172deg, rgba(229, 74, 113, 1) 11%, rgba(242, 116, 91, 1) 29%, rgba(255, 54, 177, 1) 45%, rgba(255, 148, 178, 1) 61%, rgba(106, 30, 253, 1) 82%, rgba(253, 70, 176, 1) 100%);
}

.container {

  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.main-nav__list {
  display: flex;
  gap: 10px;
}

.main-header__body {
  display: flex;
  gap: 40px;
  height: 80px;
  align-items: center;
}

a {
  color: black;
}

.main-header__logo {
  text-transform: uppercase;
  font-size: 24px;
}

.main-header a {
  position: relative;
}

.main-header a::after {
  position: absolute;
  bottom: 0px;
  width: 0%;
  height: 2px;
  left: 0;
  content: "";
  transition: .3s;
  background: rgb(229, 74, 113);
  background: linear-gradient(172deg, rgba(229, 74, 113, 1) 11%, rgba(255, 54, 177, 1) 34%, rgba(255, 148, 178, 1) 55%, rgba(253, 70, 176, 1) 96%);
}

.main-header a:hover::after {
  width: 100%;
}

.burger {
  margin-left: auto;
  display: none;
}

.what-we-do {
  display: grid;
  grid-template-rows: 1fr 1fr;
  color: white;
}

.what-we-do__element:first-of-type img {
  height: 437px;
  object-position: 50% 19.43%;
  width: 100%;
  object-fit: cover;
  margin: 0 auto 0 0;

}

.what-we-do__block {
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  padding: 30px;
  margin: 21px;
  min-height: 400px;
  width: 400px;
  position: relative;
}

.what-we-do__element:last-of-type {
  display: flex;
  justify-content: center;
  width: 100%;
}

.what-we-do__block:first-of-type {
  background-color: #2530c9;
  top: -150px;
}

.what-we-do__block:last-of-type {
  background-color: #3e427e;
  top: -300px;
}

.what-we-do__title {
  font-family: Oswald, sans-serif;
  font-weight: lighter;
  font-size: 50px;
  margin-bottom: 20px;
}

.what-we-do__text {
  font-size: 20px;
}

.what-we-do__element:first-of-type {
  height: 437px;
  overflow: hidden;
  object-position: 50% 19.43%;
}


.about-my-doing {
  display: flex;
  align-items: center;
  padding: 30px 0;
  min-height: 950px;
  background-color: #2530c9;
}

.about-my-doing__container {
display: flex;
gap: 30px;
}
.about-my-doing__block{
  width: 100%;
}
.about-my-doing__block:first-of-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  color: white;
  align-items: center;
width: 45%;
}
.about-my-doing__btn{
  width: fit-content;
}
.about-my-doing__block:last-of-type {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 55%;
  gap: 30px;
}
.about-my-doing__title{
  font-size: 60px;
    font-weight: 700;
}
.about-my-doing__btn{
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  background-image: none;
  padding: 15px 46px 15px 45px;
  margin-right: auto;
  color: #ffffff ;
  background-color: #f49ea8;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s;
}
.about-my-doing__btn:hover{
  transform: scale(1.1,1.1);
  border-radius: 5px
}
.about-my-doing__subtitle{
  letter-spacing: 3px;
    line-height: 24px;
    font-weight: lighter
}
.about-my-doing__text{
  font-size: 14px;
}
.element:nth-of-type(even){
  position: relative;
  top: -75px;
}
.element {
  width: 100%;
  background-color: white;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.2);
  padding: 30px;
}
.element svg{
  width: 50px;
  height: 50px;
  background-color: #f49ea8;
  display: block;
}
.svg-wrapper{
  background-color: #f49ea8;
  padding: 12px;
  height: fit-content;
  width: fit-content;
  display: block;
  border-radius: 50%;
}
.element:nth-of-type(2) svg,.element:nth-of-type(2) .svg-wrapper{
  background-color:#6f78f1 ;
}
.element:nth-of-type(3) svg,.element:nth-of-type(3) .svg-wrapper{
  background-color:#fd5ec7 ;
}
.element:nth-of-type(4) svg,.element:nth-of-type(4) .svg-wrapper{
  background-color:#5ca4fb;
}
.element__title{
  font-family: Oswald, sans-serif;
  font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 20px;
}
.element__text{
  color: #808080;
  font-size: 16px;
}